extends layout

block content
	h1 Address
	p you are viewing address #{address}
	p eth balance: #{ethBalance} ($#{ethUsdEquivalent} USD equivalent)

	br
	div
		span tokens
		each item in tokens
			div= `${item.amount}x ${item.name}`

	br
	div
		span transctions
		each transaction in transactions
			div 
				span hash: 
				a(href=`/transaction/${transaction.hash}`)
					= transaction.hash
				span 
				a(href=`/address/${transaction.from}`)
					= transaction.from
				span  -> 
				a(href=`/address/${transaction.to}`)
					= transaction.to
				span= ` amount: ${transaction.amount}`