extends layout

block content
    include etherFormatting
    div(class='recent-blocks') 
        div(class='recent-blocks-header') Recent blocks
        each block in recentBlocks
            div(class='recent-block')
                div
                    a(href=`/block/${block.blockNumber}`)
                        = block.blockNumber
                div
                    a(href=`/blockTransactions/${block.blockNumber}`)
                        = block.transactionCount + ' transactions '
                div
                    span= block.timeAgo
                div 
                    span mined in #{block.timeToMine / 1000}s by 
                        a(href=`/address/${block.miner}`)
                            = block.miner.substring(0, 12) + '...'
