extends layout

block content
    h1 Tokens
    p you are looking at details for token #{token.symbol}
    p #{token.name}
    p #{token.symbol}
    p $#{token.priceusd} (last updated on #{token.dateupdated})
